body
{
  background-image: url(resturant.jpg);
}


.action-button
{
	position: relative;
	padding: 10px 0px;
  margin: 0px 0px 0px 7px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	/*remove the line under the word of link*/
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
}

.container {
  width: 50%;
  margin: 2em auto;
  border: 10px solid #120e0e;
  padding: 1em;
  background-color: rgb(200, 255, 0);
  opacity: 0.7;
  p {
    font-size: .9em;
    color: #777;
    margin-bottom: 1.5em;
    font-style: italic;
    font-weight: bold;
  }
}

h3 {
  font-weight: 700;
  margin: .7em 0 1em 0;
  span {
    float: left;
    width: 10%;
    display: block;
    &:first-child {
      width: 40%;
      text-align: left;
    }
  }
 
}

